body {
    background-color: #3456;
}   

th {
    text-align: center;
	border: 1px solid grey;
	height: 40px;
}

td {
    text-align: center;
	border: 1px solid grey;
	height: 40px;
}

table {
    width: 500px;
	border-collapse: collapse;
}